export(fabryka)
import(shiny)
importFrom(grDevices, rgb)
importFrom(ggplot2, ggplot, aes, annotate, coord_fixed, geom_point, geom_segment, guides, labs, scale_color_brewer, scale_color_manual, scale_x_continuous, scale_y_continuous, theme_minimal, theme, element_blank, xlim, ylim, element_line)
importFrom(graphics, lines, points, polygon, text)
importFrom(utils, data, head, read.csv, read.csv2, write.csv2, packageVersion)
importFrom(rmarkdown, render)
importFrom(Ternary, TernaryPointValues, ColourTernary, AddToTernary, TernaryPlot)
importFrom(ggsci, scale_fill_jco)
importFrom(circular, circular, rose.diag, rayleigh.test, rao.spacing.test)
importFrom(plotly, plot_ly, layout, event_register, event_data, plotlyOutput, renderPlotly)
importFrom(raster, stack)
importFrom(magrittr, "%>%")
importFrom(RStoolbox, ggRGB)
importFrom(ggtern, ggtern, aes, theme_bw, scale_L_continuous, scale_R_continuous, geom_Tline, geom_Rline)
S3method(print,rao.spacing.test.modified)


